<!DOCTYPE html>
<html>
  <head>
    <title>HondanaSpace</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% if current_user %>
      <%= current_user.name %>
      <%= link_to "Logout", :logout, method: :post %>
    <% else %>
      <%= link_to 'Login with Google', auth_at_provider_path(provider: :google) %>
    <% end %>
    <%= yield %>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_pack_tag 'hello_vue' %>
  </body>
</html>
